.game {
  position: absolute;
  top: 0;
  z-index: -1;
}

.gui {
  margin: 50px;
}

.gui * {
  position: relative;
  margin-bottom: 25px;
  background-color: #e0e0e0;
  border: 3px solid #bababa;
  display: block;
}

.right {
  float: right;
}
